h2,h1{
    text-align: center;
}
.boxes{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: pink; */
    width: 250px;
    height: 250px;
    justify-content: space-around;
    align-content: space-around;
}
.boxes div{
    border: 5px solid black;
    width: 95px;
    height: 95px;
    border-radius: 15px;
}
.one{
    background-color: rgb(6, 244, 236);
}
.two{
    background-color: rgb(242, 162, 106);
}
.three{
    background-color: rgb(245, 104, 222);
}
.four{
    background-color: rgb(241, 241, 106);
}
.change{
    background-color: white;
}
.change1{
    background-color: green;
}